body {
  padding: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  color: rgba(0,0,0,.84);
  font-style: normal;
  font-weight: 400;
  font-family: "medium-content-serif-font",
  "Georgia","Cambria","Times New Roman","Times","serif";
}

h1 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-size: 42px;
}